pkgbase = initramfs-scencrypt
	pkgdesc = initramfs hook that adds PGP smartcard support for LUKS FDE
	pkgver = 1.8
	pkgrel = 1
	install = initramfs-scencrypt.install
	arch = any
	depends = gnupg
	source = scencrypt-hook
	source = scencrypt-install
	source = README.md
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP

pkgname = initramfs-scencrypt

